/*
!.*
.Xauthority
.adobe
.cache
.config/google-chrome
.config/gtk-2.0
.config/htop
.config/jumanji
.config/luakit/plugins
.config/menus
.dmenu_cache
.elinks
.fehbg
.fontconfig/
.gitconfig
.gstreamer-0.10
.lastpass
.lesshst
.local
.macromedia
.mozilla
.mplayer
.pki
.purple
.serverauth*
.ssh
.vim-fuf-data
.vim/bundle/taglist/.netrwhist
.vim/tmp
.viminfo
.vimperator/info
.weechat
.zcompdump
.zsh_history
