/*
!.*
.VirtualBox
.Xauthority
.adobe
.android
.cache
.config/QtProject.conf
.config/Trolltech.conf
.config/UDP Software
.config/VirtualBox
.config/ananke
.config/chromium
.config/configstore
.config/dconf
.config/google-chrome
.config/google-chrome-beta
.config/gtk-2.0
.config/gvbam
.config/hexchat
.config/higan
.config/htop
.config/jd-gui.cfg
.config/jumanji
.config/leafpad
.config/libaccounts-glib
.config/libfm
.config/libreoffice
.config/lsnes
.config/luakit/plugins
.config/menus
.config/nvim/plugged
.config/nvim/.netrwhist
.config/oni/config.js
.config/pcmanfm
.config/phoenix
.config/ranger
.config/spotify
.config/sway
.config/user-dirs.dirs
.config/wireshark
.dmenu_cache
.elinks
.emacs.d
.fehbg
.fontconfig/
.fonts/
.gitconfig
.gnome
.gnupg
.gstreamer-0.10
.icons
.lastpass
.lesshst
.links
.local
.macromedia
.mozilla
.mplayer
.pentadactyl/info
.pip
.pkg.portage_lockfile
.pki
.pulse
.pulse-cookie
.purple
.serverauth*
.sqlite_history
.ssh
.tmux/plugins
.vim-fuf-data
.vim/colors
.vim/tmp
.vim/.netrwhist
.viminfo
.vimperator/info
.weechat
.wireshark
.xsel.log
.zcompdump
.zsh_history
