Xcursor.theme: Neutral_Plus 
!XFT

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgba
Xft.hinting:    true
!Xft.hintstyle:  hintslight
Xft.hintstyle: hintfull

!URXVT
URxvt.termName:		rxvt-256color
URxvt.scrollBar:	false
URxvt.buffered:		true
URxvt.loginShell: true

!URxvt.font: xft:Anka/Coder-9
URxvt.font: xft:terminus:pixelsize=10:size=10
!URxvt.font: -*-Fixed-medium-*-*-*-10-*-*-*-*-*-*-*

URxvt.perl-ext-common:	default,url-select,keyboard-select,clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u:	perl:url-select:select_next

URxvt.urlLauncher:	luakit
URxvt.underlineURLs:	true
URxvt.transparent: true
URxvt.shading: 40
URxvt.geometry: 79x26

!COLOR THEME
#include "/home/meinhimmel/.config/Xcolors/doomcide"
