! Cursor
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 48

! Xft
Xft.dpi: 192
Xft.antialias: true
Xft.rgba: rgba
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt
URxvt.termName: rxvt-unicode-256color
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.buffered: true
URxvt.loginShell: true
URxvt.geometry: 79x26
URxvt.font: xft:Osaka:size=10
URxvt.iso14755: true
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! XTerm
XTerm*termName: xterm-256color
XTerm*geometry: 79x26
XTerm*cursorBlink: false
XTerm*faceName: Noto Mono
XTerm*faceSize: 10
XTerm*locale: true
XTerm*utf8: true
XTerm*xftAntialias: true
XTerm*trimSelection: true
XTerm*eightBitInput: true
XTerm*metaSendsEscape: true

! Theme
#include "/home/asdf/src/base16/base16-xresources/xresources/base16-summerfruit-light-256.Xresources"

