! Cursor
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 48

! Xft
Xft.dpi:        192
Xft.antialias:  true
Xft.rgba:       rgba
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

! URxvt
URxvt.termName:		rxvt-256color
URxvt.scrollBar:	false
URxvt.buffered:		true
URxvt.loginShell: true
URxvt.geometry:   79x26

! URxvt Font
URxvt.font: xft:Roboto Mono for Powerline:size=10

! URxvt Clipboard
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! Theme
#include "/home/asdf/src/base16/base16-xresources/base16-eighties.light.256.xresources"

